fp-info-cache
fp-lib-table
smd-star.bck
smd-star-cache.lib
smd-star.dcm
smd-star.kicad_pcb
smd-star.kicad_pcb-bak
smd-star.lib
smd-star.pretty
smd-star.pro
smd-star.sch
smd-star.sch-bak
sym-lib-table
